.lang__switch {
  margin-top: 18px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .lang__switch {
    margin-top: 14px;
    font-size: 18px;
    line-height: 1.1;
  }
}
