.places_position {
  margin: 117px auto 0 auto;
}

/* styles for 1024-1279 */
@media screen and (max-width: 1279px) {
  .places_position {
    margin: 92px auto 0 auto;
  }
}

/* styles for 768-1023 */
@media screen and (max-width: 1023px) {
  .places_position {
    margin: 88px auto 0 auto;
  }
}

/* styles for 320-767 */
@media screen and (max-width: 1023px) {
  .places_position {
    margin: 64px auto 0 auto;
  }
}
