.header__lang-switch {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17px;
  list-style: none;
  margin: 18px 0 0 0;
  padding: 0;
  gap: 18px;
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .header__lang-switch {
    margin-top: 14px;
    font-size: 18px;
    line-height: 1.11px;
  }
}
