.root__cover {
  margin: 67px 48px 0 48px;
}

/* styles for 1024-1279 */
@media screen and (max-width: 1279px) {
  .root__cover {
    margin: 92px 0 0 0;
  }
}

/* styles for 768-1023 */
@media screen and (max-width: 1023px) {
  .root__cover {
    margin-top: 87px;
  }
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .root__cover {
    margin-top: 66px;
  }
}
