.cover {
  display: flex;
  box-sizing: border-box;
  width: calc(100% - 96px);
  min-height: 740px;
  position: relative;
  background-image: url(../../images/cover-background_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* styles for 1024-1279 */
@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

/* styles for 768-1023 */
@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
  }
}
