.root__intro {
  box-sizing: border-box;
  padding: 92px 0 92px 84px;
}

/* styles for 1024-1279 */
@media screen and (max-width: 1279px) {
  .root__intro {
    padding: 92px 0 70px 48px;
  }
}

/* styles for 768-1023 */
@media screen and (max-width: 1023px) {
  .root__intro {
    padding: 88px 24px 88px 24px;
  }
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .root__intro {
    padding: 64px 16px 64px 16px;
  }
}
