.root__intro {
  margin: 92px 0 0 84px;
}

/* styles for 1024-1279 */
@media screen and (max-width: 1279px) {
  .root__intro {
    margin-left: 48px;
  }
}

/* styles for 768-1023 */
@media screen and (max-width: 1023px) {
  .root__intro {
    margin: 88px 24px 0 24px;
  }
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .root__intro {
    margin: 64px 16px 0 16px;
  }
}
