.root__photo-grid {
  padding: 0 48px;
}

/* styles for 768-1023 */
@media screen and (max-width: 1023px) {
  .root__photo-grid {
    padding: 0 24px;
  }
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .root__photo-grid {
    padding: 0 16px;
  }
}
