.footer__nav {
  display: flex;
  justify-items: flex-start;
  gap: 18px;
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    justify-items: start;
    gap: 32px;
  }
}
