.cover__title {
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  max-width: 550px;
  z-index: 1;
  color: #fff;
  margin: 0;
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 245px;
    font-size: 32px;
    line-height: 1.09;
  }
}
