.footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }

  .footer:last-child {
    margin-top: 48px;
  }
}
