.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* styles for 320-767 */
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 48px;
  }
}
