.header__radio-switch {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.header__radio-switch:checked ~ span {
  border-bottom: 2px solid #fff;
}
